/*Gloabl*/

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.navbar {
    top:0px !important;
    height:70px;
    position:absolute;
    top:30px !important;
    width: 100%;
    z-index: 999;
    border:0;
    border-radius:0;
    background-color:transparent !important;
}

p {
    text-indent: 5%;
    font-size: 150%;
    margin:0 20px 0 20px;
}

.qr{
    margin: auto;
    padding: 10px;
    width: 100px;
}

.qr a img {
    display: block;
    margin: auto;
    
    }
}

#media-links li a {
    font-size:250%;
}

.list-inline {
    display: flex;
    justify-content: center;
  }

/*ul.nav.navbar-nav.navbar-right {
    background-color: grey !important;
}*/

div#myNavbar.navbar-collapse.collapse.in {
    background-color: #656b6f !important;
}
.nav li a {
    color: white !important;
    font-weight: bold;
    font-size:120%
}

.nav li:hover{ 
    background-color: #150755;
}

nav .active a{ 
    background-color: #150755 !important;
}

.icon-bar {
    display: block !important;
}


.navbar-brand {
    padding:0 !important;
    margin:0;
    max-width:64px;
    border:0;
}

.logo {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: 0 9px #999;
}

.logo:hover {border: 2px solid #150755}

.logo:active {
  
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

body {
    position: relative; 
}
#About-WeekCoins {padding-top:50px;height:auto;color:#656b6f; background-color: #fdfdfd;}
#Bitcoin-Adress {padding-top:50px;height:auto;color: #656b6f; background-color: #eff0f3;}
#Current-Balance {padding-top:50px;height:auto;color: #656b6f; background-color: #fdfdfd;}
#Winners {padding-top:50px;height:auto;color: #656b6f; background-color: #fdfdfd;}
#Contact {padding-top:50px;height:auto;color: #656b6f; background-color: #eff0f3;}

h1 {
    text-align: center;
}

#About-WeekCoins .row .col-sm-12 ol li {
    font-size:150%;
    padding:5px;
    margin:0 20px 0 20px;
    text-align: justify;
    text-justify: inter-word;
}

strong {
    word-break: break-all;
}

video {
    max-width: 100%;
    height: auto;
}

.table {
    text-align: auto;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #337ab7;
}



/*Accommodations*/

.blog-img {
    width: 100%;
        height: 250px;
        overflow: hidden;
    }


.btn a {
        color: white;
        text-align: center;
    }
    
    
.btn:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }

/*footer*/

footer, footer a {
    font-size: 12px;
}
footer {
    margin-top: 0;
    background-color: #f2f2f2;
    padding: 25px;
}
.navbar, footer {
    margin-bottom: 0;
}
footer {
   
    display: block;
    box-sizing: border-box;
    line-height: 1.428571429;
    color: #333;
}

#media-links li a {
    font-size:200%;
        
}
 

/* Media Queris */
@media(max-width: 768px){
    

     
     
     
 }
 
